# dependencies
node_modules/
.pnpm-store/

# builds
.next/
out/
dist/
build/
.turbo/

# strapi
apps/cms/.tmp/
apps/cms/.cache/
apps/cms/.strapi/
apps/cms/public/uploads/*
!apps/cms/public/uploads/.gitkeep
apps/cms/types/generated/

# env
.env
.env.local
.env.*.local
!.env.example

# databases
*.db
*.sqlite
*.sqlite3

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# misc
coverage/
*.tsbuildinfo
